# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[include mainsail.cfg]
[include bigtreetech-manta-m8p-V2_0.cfg]
[include bigtreetech-ebb-sb-rp2040-canbus-v1.0.cfg]
[include macros.cfg]
[include stealthburner_leds.cfg]
[include shell_command.cfg]
[include homing.cfg]
[include air_filter_timer.cfg]
[include bed_fans.cfg]
# [include fan_tach_monitor.cfg]

# PID Calibrations
# [include tools/rapido_2_plus_pla.cfg]
# [include tools/rapido_2_plus_pla.cfg]
[include tools/v6_brass_04_asa.cfg]

[exclude_object]
[save_variables]
filename: ~/printer_data/config/saved_variables.cfg
