[extruder]
# 260°
control = pid
pid_kp = 18.028
pid_ki = 1.145
pid_kd = 70.981

[probe]
z_offset: -2.097

[heater_bed]
# 90°
control: pid
pid_kp: 56.658
pid_ki: 2.332
pid_kd: 344.200

# 90°
# control = pid
# pid_kp = 74.404
# pid_ki = 1.810
# pid_kd = 764.501