# pid_Kp=18.028 pid_Ki=1.145 pid_Kd=70.981

[extruder]
# 215°
control = pid
pid_kp: 34.337
pid_ki: 7.631
pid_kd: 38.627

[probe]
z_offset: -2.097

[heater_bed]
# 60°
control: pid
pid_kp: 53.498
pid_ki: 1.189
pid_kd: 601.858