description: Form tip and unload
gcode:
    {% set EXTRUDER_TEMP = params.TEMP|default(230)|int %}
    M117 Unloading filament...
    G90                                                                         ; set toolhead to absolute position
    PARKFRONT                                                                   ; move up and to front/center to straighten filament path
    M109 S{EXTRUDER_TEMP}                                                       ; heat up the hotend
    M83                                                                         ; set extruder to relative extrusion
    G1 E3   F300                                                                ; extrude slowly to soften tip of filament
    G1 E-15 F100000                                                             ; quickly yank filament back clear of hotend
    G1 E-80 F1800                                                               ; ensure filament is clear of extruder gears
    M82                                                                         ; set extruder to absolute extrusion


[gcode_macro FILAMENT_LOAD]
description: Load filament
gcode:
    {% set EXTRUDER_TEMP = params.TEMP|default(230)|int %}
    M117 Loading filament...
    M83                                                                         ; set extruder to relative extrusion
    G90                                                                         ; set toolhead to absolute position
    PARKFRONT                                                                   ; move up and to front/center to straighten filament path
    M109 S{EXTRUDER_TEMP}                                                       ; heat up the hotend
    G1 E50 F300                                                                 ; extrude filament through into hotend
    G1 E30 F100                                                                 ; extrude filament through into hotend
    M82                                                                         ; set extruder to absolute extrusion
    M400                                                                        ; wait for moves to finish


[gcode_macro SET_ACTIVE_SPOOL]
description: Set active Spoolman spool
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}


[gcode_macro CLEAR_ACTIVE_SPOOL]
description: Clear active Spoolman spool
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}


[gcode_macro CHECK_RUNOUT_COUNTDOWN]
# This macro exists solely to store the target extrusion variable
variable_target_extruded: 0.0
gcode:
  pass

[gcode_macro START_RUNOUT_COUNTDOWN]
gcode:
  # Get the current total extruded length from Klipper stats
  {% set current_extruded = printer.print_stats.filament_used|float %}
  # Add 1100mm to that current length
  {% set target_extruded = current_extruded + 1100.0 %}
  # Save the target to our variable
  SET_GCODE_VARIABLE MACRO=CHECK_RUNOUT_COUNTDOWN VARIABLE=target_extruded VALUE={target_extruded}
  # Trigger the background loop to check the distance every 1 second
  UPDATE_DELAYED_GCODE ID=runout_loop DURATION=1

[delayed_gcode runout_loop]
gcode:
  # Fetch current state and variables
  {% set current_extruded = printer.print_stats.filament_used|float %}
  {% set target_extruded = printer["gcode_macro CHECK_RUNOUT_COUNTDOWN"].target_extruded|float %}
  {% set print_state = printer.print_stats.state %}
  
  # Safety check: If the user cancels the print manually, kill the loop
  {% if print_state in ["standby", "error", "complete"] %}
     UPDATE_DELAYED_GCODE ID=runout_loop DURATION=0
     
  # Check if we have hit the 1100mm mark
  {% elif current_extruded >= target_extruded %}
     PAUSE
     M117 Filament empty! 1100mm fed.
     # Kill the loop
     UPDATE_DELAYED_GCODE ID=runout_loop DURATION=0
     
  # If not hit yet, loop again in 1 second
  {% else %}
     UPDATE_DELAYED_GCODE ID=runout_loop DURATION=1
  {% endif %}