[extruder]
# 260°
control = pid
pid_kp = 18.028
pid_ki = 1.145
pid_kd = 70.981

[probe]
z_offset: -1.837

[heater_bed]
# 90° w/ bedfans
# pid_Kp=58.166 pid_Ki=2.603 psid_Kd=325.004
control: pid
pid_kp: 58.166
pid_ki: 2.603
pid_kd: 325.004


# 90° w/o bedfans
# control: pid
# pid_kp: 56.658
# pid_ki: 2.332
# pid_kd: 344.200